doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="description" content="朱文龙,Mofei,百度高级研发工程师,2010年开始研究web前端技术,一个极具潜力的全栈工程师。")
    meta(name="keywords" content="Mofei,朱文龙,Front-end,JavaScript")
    meta(name="author" content="朱文龙")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
    meta(content="yes" name="apple-mobile-web-app-capable")
    title I'm Mofei - 朱文龙的自留地
    link(rel="alternate" type="application/rss+xml" title="I'm Mofei - 朱文龙的自留地" href="/rss")
    link(rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-precomposed_64-e3290f7494.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-precomposed_144-d58d55ffc3.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-precomposed_72-9380763151.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-precomposed_144-d58d55ffc3.png")
    link(rel="icon" href="favicon.ico")
    link(rel="stylesheet" href="//dn-mofei.qbox.me/css/index-ff7a8ee386.css")
  body
    
